.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: .2rem double currentColor;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
  font-family: WorkSans, sans-serif;
  background-color: $base;
  color: $white;

  &:hover {
    opacity: .8;
  }

  &--link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1.5rem 3rem;
    display: inline-flex;
    background-color: desaturate($base, 100);
  }

  &--cta {
    background-color: $base;
    color: white;
  }
}

@media screen and (min-width: 1200px) {
  .btn {
    font-weight: 900;
  }
}